<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h4>
    英雄之家
  </h4>
</div>
<ul>
  <li>
    <a [routerLink]="['/heroes']" routerLinkActive="active">英雄列表</a>
  </li>
  <li>
    <a [routerLink]="['/crisis-center']" routerLinkActive="active">危机中心</a>
  </li>
  <li>
    <a [routerLink]="['/admin']" routerLinkActive="active">英雄管理局</a>
  </li>
  <li><a [routerLink]="[{ outlets: { popup: ['compose'] } }]" routerLinkActive="active">联系危机中心</a></li>
  <li>
    <a [routerLink]="['/login']" routerLinkActive="active">登录</a>
  </li>
</ul>
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>
